.remove-wiki-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 12px;
    margin-left: 50px;
    transition-duration: 0.4s;
  }
.remove-wiki-btn:hover{
    background-color: rgb(255, 36, 36);
    color: white;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}