*{
    font-size: 20px;
}
#data{
    display: flex;
    justify-content: center;
}
p{
    padding:10px;
}

#areaThree{
    background-color: beige;
    display: flex;
    justify-content: center;
}
#areaOne{
    background-color: beige; 
}

/* Summery */
#summery{
    
    float:left;
    background-color: gainsboro;
    width:500px;
}
#summeryTitle{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#tag{
    display: flex;
}

/* Description */
#description{
    width:800px;
    background-color: beige;
}

/* Contents */
#contents{
    background-color: beige;
    border-style: solid;
    padding:10px;
}
#contentsItem{
    display: flex;
}

/* Content */
#content{
    width:1300px;
    background-color: beige;
}
#contentTitle{
    font-size: 30px;;
    font-weight: bold;
}

#refrences{
    background-color:beige;
}
#refrenceItem{
    display: flex;
}