*{
    
}

#showWikis{
    margin-top:60px;
}

#wikiHandler{

}

#title{
    display: flex;
    justify-content: center;
}

#wikiList{
    display: flex;
    justify-content: center;
}

#cwbutton{
    position: absolute;
    top: 70vh;
    left: 60vw;
}