*{
    
}

#showWikis{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 22em;
    padding: 12px 20px;
}

#wikiHandler{

}

#title{
    display: flex;
    justify-content: center;
}

#wikiList{
    display: flex;
    justify-content: center;
}

#cwbutton{
}

.title-wiki-btn{
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 12px;
    margin-left: 50px;
    margin-bottom: 5px;
    transition-duration: 0.4s;
}
.title-wiki-btn:hover{
    background-color: rgb(204, 190, 190);
    cursor: pointer;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search-wiki{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
}

.search-wiki-btn{
    background-color: white;
    width: 100%;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.search-wiki-btn:hover{
    background-color: rgb(255, 174, 0);
    cursor: pointer;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.returnClick{
    position: absolute;
    width: 5vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: white;
    height: 6vh;
    left: 75%;
    top: 2.5vh;
    background:#2bc6ff;
    margin-top: -20px;
    border-radius: 100%;
    cursor: pointer;
    border: 0px solid black;
}